{% extends "../base.html" %}

{% block meta %}
  <script src="{{ static_url('assets/js/libs/socket.io.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/libs/underscore.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/libs/backbone.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/libs/handlebars.js') }}" type="text/javascript"></script>

  <script src="{{ static_url('assets/js/libs/ace/ace.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/libs/ace/theme-twilight.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/libs/ace/mode-python.js') }}" type="text/javascript"></script>

  <script src="{{ static_url('assets/js/play.js') }}" type="text/javascript"></script>

  <script type="text/javascript">
    var USER = {% raw user_json %};
  </script>

  {% include "templates.html" %}
{% end %}

{% block content %}
  <div data-player-canvas="true"></div>

  <br />

  <div id="editor" class="hide"></div>
  <div class="info" data-game-canvas="true"></div>

{% end %}