{% extends "../base.html" %}

{% block meta %}
  <script src="{{ static_url('assets/js/libs/socket.io.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/libs/underscore.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/libs/backbone.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/libs/handlebars.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('assets/js/play.js') }}" type="text/javascript"></script>
{% end %}

{% block content %}
  
  <script id="player-template" type="text/x-handlebars-template">
    <h1>You are {{!state}}.</h1>

    <div class="btn btn-info" data-player-command="ready">I am ready.</div>
    <div class="btn btn-info" data-player-command="not_ready">I am not ready.</div>
    <div class="btn btn-info" data-player-command="leave">Leave the game.</div>
  </script>
  

  <div data-player-canvas="true"></div>

  <div data-game-canvas="true"></div>

{% end %}